html {
    position: relative;
    height: 100%;
}

body {
    // background-image: url('https://i.pinimg.com/originals/77/84/ba/7784baa4303bd0103e243fa9428b81bb.jpg');
    background-color: transparent;
    background-size: cover;
    display: flex;
    justify-content: center;
}

div {
}